:root {
  --primary-font: "Roboto", sans-serif;
  --main-color-one: #500ade;
  --title-color: #1c144e;
  --heading-color: #16215C;
  --text-color: #727777;
  --first-color: #7684d0;
  --paragraph-color: #666666;
  --body-bg: #fff;
  --white: #fff;
  --primary-color: #F74E86;
  --linear-color: linear-gradient(270deg, #F73AEE 0%, #FD5886 100%);
  --scroll-bar-color: rgb(88, 192, 248);
  --scroll-thumb-color: var(--primary-color);
}